SMTP_HOST=mail.yourdomain.com
SMTP_PORT=465
SMTP_USER=info@yourdomain.com
SMTP_PASSWORD=YOUR_EMAIL_PASSWORD

ADMIN_EMAIL=info@yourdomain.com

NEXT_PUBLIC_CALENDLY_URL=https://calendly.com/yourusername/30min
